<!DOCTYPE html>
<html lang="en">

<!--   npx browser-sync start --server --files "*.html, css/*.css"    -->

<!-- run simple server:
    
python -m SimpleHTTPServer

#development=1    -Add to the URL to validate

-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Free mobile app HTML landing page template to help you build a great online presence for your app which will convert visitors into users">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>NSCC Website</title>

    <!-- bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">





    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
    <style>
        body {
            font: 11px/1.5em "Lucida Grande";
            color: #000000
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: helvetica, arial, verdana, sans-serif;
            font-weight: normal;
            color: #000000;
        }

        h1 {
            font-size: 218%;
            
        }

        h2 {
            font-size: 164%;
           
        }

        h3 {
            font-size: 145%;
        }

        h4 {
            font-size: 118%;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".fixed-top">


    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Leno</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="sitemap.html"><img src="svg\logo.svg" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="ml-auto navbar-nav">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="C:\htdocs\nscc\index.html">HOME <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="about.html">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="team.html">TEAM</a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="services.html" id="navbarDropdown"
                        role="button" aria-haspopup="true" aria-expanded="false">SERVICES</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#"><span class="item-text">TREATMENT & CONSULTATION</span></a>
                        <div class="dropdown-items-divide-hr"></div>

                        <a class="dropdown-item" href="#"><span class="item-text">REHABILITATION</span></a>
                        <div class="dropdown-items-divide-hr"></div>

                        <a class="dropdown-item" href="#"><span class="item-text">HEALTHCARE COVERAGE</span></a>
                        <div class="dropdown-items-divide-hr"></div>

                        <a class="dropdown-item" href="#"><span class="item-text">QUALIFICATIONS</span></a>
                        <div class="dropdown-items-divide-hr"></div>

                        <a class="dropdown-item" href="#"><span class="item-text">INSURANCE & BILLING</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="resources.html" id="navbarDropdown"
                        role="button" aria-haspopup="true" aria-expanded="false">RESOURCES</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#"><span class="item-text">HIPAA COMPLIENCE</span></a>
                        <div class="dropdown-items-divide-hr"></div>

                        <a class="dropdown-item" href="#"><span class="item-text">ASSESABILITY</span></a>
                        <div class="dropdown-items-divide-hr"></div>

                        <a class="dropdown-item" href="#"><span class="item-text">EMERGENCY CONTACTS</span></a>
                        <div class="dropdown-items-divide-hr"></div>

                        <a class="dropdown-item" href="#"><span class="item-text">COVID-19 RESOURCES</span></a>
                        <div class="dropdown-items-divide-hr"></div>

                        <a class="dropdown-item" href="#"><span class="item-text">FAQs</span></a>
                        <div class="dropdown-items-divide-hr"></div>

                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">TERMS
                                CONDITIONS</span></a>
                        <div class="dropdown-items-divide-hr"></div>

                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">PRIVACY
                                POLICY</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="contact.html">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->



    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1>FIGMA<br>FOR <span id="js-rotating">DESIGNERS, MARKETERS, DEVELOPERS, DEEZNUTS</span>
                            </h1>
                            <p class="p-large">Leno is one of the easiest and feature packed marketing automation apps
                                in the market. Download it today!</p>
                            <a class="btn-solid-lg page-scroll" href="#your-link"><i class="fab fa-apple"></i>APP
                                STORE</a>
                            <a class="btn-solid-lg page-scroll" href="#your-link"><i class="fab fa-google-play"></i>PLAY
                                STORE</a>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="svg/treatment-plan.svg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->
    <br>


<!--  h1 to h6 text layout-->

<!-- NSCC abbrevation tag-->

<p>We use <abbr title="Newton Square">NSCC</abbr> to structure our web documents.</p>


<!-- description term tag-->

<div class="container" id="description term">


    <dl>
        <dt>soliloquy</dt>
        <dd>In drama, where a character speaks to themselves, representing their inner thoughts or feelings and in the process relaying them to the audience (but not to other characters.)</dd>
        <dt>monologue</dt>
        <dd>In drama, where a character speaks their thoughts out loud to share them with the audience and any other characters present.</dd>
        <dt>aside</dt>
        <dd>In drama, where a character shares a comment only with the audience for humorous or dramatic effect. This is usually a feeling, thought, or piece of additional background information.</dd>
      </dl>



</div>

<!-- Inline Quotes-->

<p>The quote element — <code>&lt;q&gt;</code> — is <q cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q">intended
    for short quotations that don't require paragraph breaks.</q></p>



<!-- Citation Tag -->

<p>According to the <a href="/en-US/docs/Web/HTML/Element/blockquote">
    <cite>MDN blockquote page</cite></a>:
    </p>
    
    <blockquote cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote">
      <p>The <strong>HTML <code>&lt;blockquote&gt;</code> Element</strong> (or <em>HTML Block
      Quotation Element</em>) indicates that the enclosed text is an extended quotation.</p>
    </blockquote>
    
    <p>The quote element — <code>&lt;q&gt;</code> — is <q cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q">intended
    for short quotations that don't require paragraph breaks.</q> -- <a href="/en-US/docs/Web/HTML/Element/q">
    <cite>MDN q page</cite></a>.</p>

<!-- Superscript and subscript-->
<p>My birthday is on the 25<sup>th</sup> of May 2001.</p>
<p>Caffeine's chemical formula is C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub>.</p>
<p>If x<sup>2</sup> is 9, x must equal 3 or -3.</p>



<!-- Representing computer code

<code>: For marking up generic pieces of computer code.
<pre>: For retaining whitespace (generally code blocks) — if you use indentation or excess whitespace inside your text, browsers will ignore it and you will not see it on your rendered page. If you wrap the text in <pre></pre> tags however, your whitespace will be rendered identically to how you see it in your text editor.
<var>: For specifically marking up variable names.
<kbd>: For marking up keyboard (and other types of) input entered into the computer.
<samp>: For marking up the output of a computer program.

    eg-->
    
<div class="code" id="code-text">
    <pre><code>var para = document.querySelector('p');

        para.onclick = function() {
          alert('Owww, stop poking me!');
        }</code></pre>
        
        <p>You shouldn't use presentational elements like <code>&lt;font&gt;</code> and <code>&lt;center&gt;</code>.</p>
        
        <p>In the above JavaScript example, <var>para</var> represents a paragraph element.</p>
        
        <p>Select all the text with <kbd>Ctrl</kbd>/<kbd>Cmd</kbd> + <kbd>A</kbd>.</p>
        
        <pre>$ <kbd>ping mozilla.org</kbd>
        <samp>PING mozilla.org (63.245.215.20): 56 data bytes
        64 bytes from 63.245.215.20: icmp_seq=0 ttl=40 time=158.233 ms</samp></pre>

</div>

<!-- text template starts-->

<div>


    H1: What Can I Do With Archetype?
    Heading 1
    Edit Element
    Paragraph: Archetype lets designers like you very quickly and easily create consistent typography styling and spacing live, in the browser. These styles are all underpinned by established typographic best practices meaning less guesswork and more harmonious designs.
    
    Paragraph
    Edit Element
    Archetype helps you create a design system of consistent, reusable components which can be easily implemented as your finished design is exported as developer-friendly CSS so everyone's happy!
    
    Paragraph
    Edit Element
    H2: Sounds Great, Where Do I Start?
    Heading Two
    Edit Element
    Paragraph: It's easy peasy: 1) Start by selecting a visually compatible font pair. 2) Define harmoniously proportioned sizes for all the standard typographic elements your design might require. 3) Set the optimal vertical spacing of all elements in your design. 4) Tweak and refine individual elements to get everything looking exactly the way you want. 5) Export as CSS ready to send to a developer. Job Done.
    
    Paragraph
    Edit Element
    H3: Help Us Improve
    Heading Three
    Edit Element
    Paragraph: This is version 1 of Archetype and we'd love your feedback and suggestions on how we can improve it to make it even more useful. Please use the feedback link in the header to let us know what you think. Be as critical as you like, we have thick skin.
    
    Paragraph
    Edit Element
    H4: Still Reading?
    Heading Four
    Edit Element
    Well here's some inspirational quotes for you: “Good design is making something intelligible and memorable. Great design is making something memorable and meaningful”: Dieter Rams.
    
    Paragraph
    Edit Element
    H5: More? Ok
    Heading Five
    Edit Element
    Paragraph: “A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away”: Antoine de Saint-Exupery.
    
    Paragraph
    Edit Element
    H6: One For the Road
    Heading Six
    Edit Element
    Paragraph: “The best activities for your health are pumping and humping”: Arnold Schwarzenegger.
    
    Paragraph
    Edit Element
    H1
    Heading One
    Edit Element
    H2
    Heading Two
    Edit Element
    H3
    Heading Three
    Edit Element
    h4
    Heading Four
    Edit Element
    h5
    Heading Five
    Edit Element
    H6
    Heading Six
    Edit Element





</div>






    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <a class="navbar-brand logo-image" href="index.html"><img src="svg\logo02.svg"
                                alt="alternative"></a>
                        <h4>About</h4>
                        <p>We're passionate about creating the best mobile apps for personal development</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Contact our doctors<a class="turquoise"
                                        href="contact.html">Schedule an Appointment</a></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Read our <a class="turquoise" href="terms-conditions.html">Terms
                                        & Conditions</a>, <a class="turquoise" href="privacy-policy.html">Privacy
                                        Policy</a></div>
                            </li>
                        </ul>

                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Social Media</h4>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->

    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © deeznuts - NSCC <a href="deeznuts">deeznuts</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js">
        import 'bootstrap';
        import 'bootstrap/js/dist/util';
        import 'bootstrap/js/dist/alert';
    </script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
    <script id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://HOST:3002/browser-sync/browser-sync-client.js?v=2.26.13'><\/script>".replace("HOST", location.hostname));
//]]></script>
    <script async src="gulpfile.js"></script>
    <script async src="gulptask.js"></script>



</body>

</html>